html,body { 
	margin: 0;
	padding: 0;
	color: #666;
	height: 100%;
	width: 100%;
}

#scroller {
	background-color: #646464;
	background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(14, 14, 14)), to(rgb(100, 100, 100)));
	background-image: -webkit-radial-gradient(50% 50%, rgb(100, 100, 100), rgb(14, 14, 14));
	background-image: -moz-radial-gradient(50% 50%, rgb(100, 100, 100), rgb(14, 14, 14));
	background-image: -ms-radial-gradient(50% 50%, rgb(100, 100, 100), rgb(14, 14, 14));
	background-image: radial-gradient(50% 50%, rgb(100, 100, 100), rgb(14, 14, 14));

	width: 94%;
	margin: 0 auto;
	display: none;
}

.buttons {
	background: #eee;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
	padding: 5px 20px;
	margin-top: 10px;
}

#draw {
	background: #ccc;
	padding: 5px 20px;
}

#draw.active {
	background: red;
}
